pandas
Flask
textract
PyPDF2
gensim==3.6.0
sklearn
scikit-learn
striprtf
requests
nltk
docker run -dp 3000:3000 getting-started
contractions
inflect
Werkzeug
autocorrect
beautifulsoup4
six
word2number
numpy
pythoncom